<div class="friend-form-container">
    <div class="friend-form-input">
        <div class="form-title">Add a friend to the list!</div>
        <form [formGroup]="form" class="friend-form" (submit)="onSubmit()">
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" type="text">
            </mat-form-field>
            <ng-container formArrayName="friends">
                <ng-container *ngFor="let friendForm of friends.controls; let i = index">
                    <div class="form-field">
                        <mat-form-field appearance="fill" [formGroupName]="i">
                            <mat-label>Friends</mat-label>
                            <input matInput type="text" formControlName="name">
                        </mat-form-field>
                        <mat-icon (click)="removeFriend(i)" aria-label="Remove Friend">delete</mat-icon>
                    </div>
                </ng-container>
            </ng-container>
            <button mat-stroked-button color="primary" type="button" (click)="addFriends()">
                Add A Friend
            </button>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Age</mat-label>
                <input matInput formControlName="age" type="number">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Weight</mat-label>
                <input matInput formControlName="weight" type="number">
            </mat-form-field>
            <button mat-stroked-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
        </form>
    </div>
</div>
